*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: block;
}

ul,ol{
    list-style: none;
}

body{
    font-family: sans-serif;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 100vh;
    background-size: 100%;
    background-image: url(./img/IMAGE\ \(3\).png);
    background-repeat: no-repeat;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

nav .container strong{
    font-family: Lora;
    font-size: 26px;
    font-weight: 10;
    letter-spacing: 2px;
    line-height: 26px;
    color: #FFFFFF;
}

.nav-all{
    display: flex;
}

.nav-box{
    margin-right: 50px;
    color:   #FFFFFF;
}

.nav-box:nth-child(4){
    margin-right: 100px;
}

@media (max-width: 1160px){
    .container{
        width: 1040px;
    }
    
}

@media (max-width: 1060px){
    .container{
        width: 940px;
    }
}

@media (max-width: 960px){
    .container{
        width: 840px;
    }
}

@media (max-width: 860px){
    .container{
        width: 740px;
    }


}

@media (max-width: 760px){
    .container{
        width: 640px;
    }

    .nav-all{
        width: 700px;
    }
}

@media (max-width: 660px){
    .container{
        width: 540px;
    }
}

@media (max-width: 560px){
    .container{
        width: 440px;
    }
}

@media (max-width: 460px){
    .container{
        width: 340px;
    }
}

@media (max-width: 360px){
    .container{
        width: 240px;
    }
}


